[Desktop Entry]
Name=Install Mini Display
Comment=Install Mini Display
Path=/home/pi/astrid
Exec=/home/pi/astrid/scripts/install_minidisplay.sh
Terminal=true
Type=Application
