[Desktop Entry]
Name=Player
Comment=Start Player
Path=/home/pi/astrid
Exec=/home/pi/astrid/scripts/install_minidisplay.py
Terminal=true
Type=Application
