[Desktop Entry]
Name=Terminate Astrid Threads
Comment=Terminate Astrid Threads
Path=/home/pi
Exec=/usr/bin/pkill python3
Terminal=true
Type=Application
